body{
    background: #3F5EFB;
background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

*{
    margin:0;
    padding:0;
}

.top-nav-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px; /* up/down  left/right */
    background-color: black;
}

.left,
.centre,
.nv_bar{
    flex: 1;
}

.centre{
    text-align: center;
    color: white;
}

.nv_bar{
    text-align: right;

    font-weight: bolder;
    font-size: larger;
}


.content{
    width: 90%;
    padding: 30px auto;
    margin-left:50px;
}

section{
    padding: 20px 0px;
    
}



h2{
    margin-bottom: 10px;
}

p,li{
    font-size: larger;
}

input,textarea{
    padding:5px;
    margin:5px;

}

textarea {
    width: 250px;
    height: 80px;
    margin-left: 15px;

}

.logo {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.logo-img {
  height: 50px;       /* Set a fixed height that fits your header */
  width: auto;        /* Automatically adjusts the width to maintain correct proportions */
  display: block;     /* Removes extra whitespace below the image */
}
