

*{
    margin:0;
    padding:0;
}

.top-nav-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px; /* up/down  left/right */
}

.left,
.centre,
.nv_bar{
    flex: 1;
}

.centre{
    text-align: center;
}

.nv_bar{
    text-align: right;

    font-weight: bolder;
    font-size: larger;
}


.content{
    width: 90%;
    margin: 30px auto;
}

section{
    padding: 20px 0px;
    
}

h2{
    margin-bottom: 10px;
    
}

p,li{
    font-size: larger;
}
