/*body{
    background: #447487;
    background: linear-gradient(90deg, rgba(68, 116, 135, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     max-width: 720px; margin: 0 auto; padding: 24px; 
}
     */
     
*{
    margin:0;
    padding:0;
}
/*.header{
    text-align: center;
    padding: 20px;
    padding-right: 100px;
    margin: 5px;
}*/

.top-nav-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px; /* up/down  left/right */
}

.left,
.centre,
.nv_bar{
    flex: 1;
}

.centre{
    text-align: center;
}

.nv_bar{
    text-align: right;

    font-weight: bolder;
    font-size: larger;
}


.about_me{
    padding: 20px;
}


